<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Email Validation Example</title>
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  
      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>

  <form>
  <h2>Email Validation</h2>
  <input type="email" value="" placeholder="name@email.com" required />
  <br>
  <br>
  <input type="submit" value="Submit" />
  
  <!--<p class="p">Demo by Agbonghama Collins. <a href="http://www.sitepoint.com/client-side-form-validation-html5/">See article</a>.</p>-->
</form>
  
  

</body>

</html>
